/* Navigation */
#work {
    color: #D9E1E2;
    text-decoration: underline;
}

/* Work */
.work1 {
    background: url(robert-zunikoff-53898-unsplash.jpg);
    height: 600px;
    background-size: 100%;
    line-height: 1.4;
    padding: 120px 50px 50px 50px;
}


.work2 {
    background: url(brendan-miranda-652484-unsplash.jpg);
    height: 600px;
    background-size: 100%;
    line-height: 1.4;
    padding: 120px 50px 50px 50px;
}

.work3 {
    background: url(zach-lucero-802489-unsplash.jpg);
    height: 600px;
    background-size: 100%;
    line-height: 1.4;
    padding: 120px 50px 50px 50px;
}

.work4 {
    background: url(aleks-dorohovich-1089460-unsplash.jpg);
    height: 600px;
    background-size: 100%;
    line-height: 1.4;
    padding: 120px 50px 50px 50px;
}

.work5 {
    background: url(marcus-wallis-607534-unsplash.jpg);
    height: 600px;
    background-size: 100%;
    line-height: 1.4;
    padding: 120px 50px 50px 50px;
}
.worktitle {
    display: inline;
    width: 100%;
    background-color:rgba(255, 255, 255, 0.7);
    padding-left: 200px;
    padding-right: 200px;
    padding-top: 50px;
    padding-bottom: 50px;
    margin: 40px auto;

}